<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/sustentabilidade.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>

    <title>Sustentabilidade</title>
</head>
<body>
    <header> 
           <div> 
    <img class="icom-social" src="/img/bag-icon.jpg" alt = "Sacola" height="42" width="42" id="logo" style="
    position: absolute;    left:50%;"/>
    <img class="icom-social" src="/img/profile-icon.png" alt = "Perfil" height="42" width="42" id="logo" style="
    position: absolute;    left:60%;"/>
    <img class="icom-social" src="/img/zoom-icon.png" alt = "Busca" height="42" width="42"  id="logo" style="
    position: absolute;    left:70%;"/>
    </div>
<div>
    
    <form action="">
        <div class="Busca">
        <input class="input-padrao" type="text" name="Busca" placeholder="Buscador">
   
</div>
        <nav class="menu">
             
        <a href= ""> Sobre</a>
        <a href=""> Shop</a>
    <a href="">Blog</a>
    <a href="">Sustentabilidade</a>
    <a href="">Contato</a>
    </nav>

     <div> <img class="a" src="/img/recycling-icon.jpg" alt = "Reciclagem"  />
    <p class="texa">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae iusto, in sequi modi sapiente ullam, nam non repellendus consequuntur velit beatae veritatis. Dolor consectetur pariatur, nisi quod mollitia debitis aut? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, accusantium dolore numquam rerum, quam harum quo incidunt placeat aspernatur quae tempore molestiae repellat aliquid consectetur enim, soluta maxime esse sequi?</p>
</div>
    <br>
   <div>  <img class="b" src="/img/vegan-icon.png" alt = "Vegano" />
    <p class="texb">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae iusto, in sequi modi sapiente ullam, nam non repellendus consequuntur velit beatae veritatis. Dolor consectetur pariatur, nisi quod mollitia debitis aut? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, accusantium dolore numquam rerum, quam harum quo incidunt placeat aspernatur quae tempore molestiae repellat aliquid consectetur enim, soluta maxime esse sequi?</p>
</div>
    <br>
    <div>
    <img class="c" src="/img/coffee-shampoo-icon.jpg" alt = "Reciclagem" />
    <p class="texc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae iusto, in sequi modi sapiente ullam, nam non repellendus consequuntur velit beatae veritatis. Dolor consectetur pariatur, nisi quod mollitia debitis aut? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, accusantium dolore numquam rerum, quam harum quo incidunt placeat aspernatur quae tempore molestiae repellat aliquid consectetur enim, soluta maxime esse sequi?</p>
</div>
</section>
<div>
    <img src="/img/grass-icon.png" alt = "Grama" height="250" width="2150">
</div>

    
        <section>
            <footer>
               
              </footer>
        </section>

        <section class="z">
            <p class="texp" >
                Planet & Health LTDA 
                CNPJ 99.999.999/9999-00
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum repellat accusamus? Accusantium minus quidem molestias ipsam? Tenetur quos, debitis placeat, similique recusandae sit iusto alias, maiores dignissimos odio ad.
            </p>

        </section>
              
</body>
 


</html>